* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria:  'Noto Serif', serif;   
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

#logo img{
    width: 4rem;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    align-items: center;

}

.cabecalho_menu ul{
    list-style: none;
    display: flex;
}

.cabecalho_menu a {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;

}

.cabecalho_menu a:hover {
    color: var(--cor-secundaria)
}


.cabecalho_menu li{
    margin: 0 1rem;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 15%;
}

.apresentacao_conteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2.5rem;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    padding: 1.5rem;
    font-size: x-large;
}

.apresentacao_conteudo_titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);

}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links_titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao_links_link {
    justify-content: center;
    display: flex;
    gap: 16px;
    padding: 20px 20px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    width: 50%;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.apresentacao_imagem{
    width: 50%;
}

 .apresentacao_imagem img{
    width: 100%;
}

.fa-brands{
    color: var(--cor-terciaria);
    padding-top: 2px;
}

@media (max-width: 768px){

.apresentacao {
    flex-direction: column-reverse;
}
}